@import "_service/vars";
@import "_service/fonts";
@import "_service/libs";

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  font-family: $default-font;
  overflow-x: hidden;
  color: #000;

  .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1320px;
  }

  h2 {
    margin-bottom: 40px;
    font-size: 34px;
    font-weight: 200;
  }

  a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .green-btn {
    display: inline-block;
    padding: 15px 40px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;
    border-radius: 50px;
    color: #ffffff;
    background: #7aa600;
  }

  .grey-btn {
    display: inline-block;
    padding: 15px 40px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;
    border-radius: 50px;
    border: 2px solid #8b9096;
    color: #8b9096;
  }

  &.active {
    background-color: green;
  }

  &.active-1 {
    background-color: blue;
  }

  input, textarea {
    border: #666 1px solid;
    outline: none;

    &:focus:required:invalid {
      border-color: red;
    }

    &:required:valid {
      border-color: green;
    }
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;

  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

b, strong {
  font-weight: bold;
}


@import "_page/home";
@import "_page/about";
@import "_page/404";
@import "_page/catalogue-category";

.card-group {
  flex-wrap: wrap;

  .card {
    display: block;
    width: 50%;
    flex: 0 0 auto;
  }
}




