
@font-face {
  font-family: "FiraSans";
  src: url("../../fonts/FiraSans-ExtraLight.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../../fonts/FiraSans-Light.woff") format("woff");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../../fonts/FiraSans-Italic.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../../fonts/FiraSans-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../../fonts/FiraSans-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../../fonts/FiraSans-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}